body {
    font-family: 'Arial', sans-serif;
    background: #1a1126;
    color: white;
    margin: 0;
}

#header{
    display: flex;
    flex-direction: column;
    height: 12vh;
    background-color: black;
    width: 100vw;
    align-items: center; 
    position: relative;
}

#titleContainer {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
}

#appTitle {
    font-family: 'Aileron', sans-serif;                
    display: flex;
    font-size: 3.4vw;
    align-items: center;
}

#appTitle .letter {
    margin: -2.2px;
    font-weight: bolder;
}

.button-group {
    display: flex;
    gap: 10px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 50%;
    transform: translate(-50%, -50%);
}


#appTitle .letter:nth-child(1) { color: #8aefe7; }    /* First letter 'c' */
#appTitle .letter:nth-child(2) { color: #8aefe7; } /* Second letter 'h' */
#appTitle .letter:nth-child(3) { color: white; } /* Third letter 'u' */
#appTitle .letter:nth-child(4) { color: white; }  /* Fourth letter 'k' */
#appTitle .letter:nth-child(5) { color: white; }   /* Fifth letter 'k' */
#appTitle .letter:nth-child(6) { color: white; } /* Sixth letter 'l' */

#appMoto {
    font-family: 'Poppins';
    font-size: 1.2vw;
    margin-top: 5px;
}

#appMoto .word:nth-child(1) {color:white}
#appMoto .word:nth-child(2) {color:#8aefe7}
#appMoto .word:nth-child(3) {color:white}
#appMoto .word:nth-child(4) {color:white}
#appMoto .word:nth-child(5) {color:white}

.live-tv, .on-demand {

align-items: center;
font-size: 20px;
background-color: black;
color: white;
border: none;
border-radius: 5px;
transition: background-color 0.3s ease;
}

.live-tv:hover, .on-demand:hover {
color: #8aefe7;
}

#appTitle .button-group {
    display: flex;
    justify-content: flex-end;
    margin-left: 55vw;
    gap: 10px;
}

.button-group1 {
    position: absolute;
    right: 5vw; 
    top: 50%; 
    transform: translateY(-50%); 
    display: flex;
    gap: 10px;
}


.login,.register,.sign-out{
    font-size: 1vw;
    color: white;
    width: 150px;
    margin-top: 10px;
    background-color: black;
    border: 3px solid #8aefe7;
    border-radius: 10px;
    height: 50px;
}

.login,.registe,.sign-out:hover {
    cursor: pointer; 
}


/* Content Wrapper: Place channel info and video container side by side */
#contentWrapper {
    margin-top: 2vh;
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
    gap: 20px; 
    height: 500px;
    width: 100vw;
}


/* Channel Info Styling */
.channel-info {
    background-color: #373243; 
    width: 40%; 
    height: 100%;
    border-radius: 10px;
    margin-left: 10px;
}


/* Video Container Styling */
#videoContainer {
    position: relative;
    width: 60%; 
    height: 100%;
    /* max-width: 830px;  */
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: flex-start;
    border-radius: 10px;
}

/* Video Player Styling */
.videoPlayer {
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
    position: relative;
}


#nowPlayingTitle {
    font-family: 'Poppins';
    color: #ffffff; 
    font-size: 1.5vw; 
    margin-bottom: 1px; 
    margin-left: 30px;
}

#currChannelName{
    display: flex;
    color: #ffffff; 
    font-size: 4.5vw; 
    float: left;
    margin-top: 30px;
    margin-left: 30px;
    margin-bottom: 40px;
}

#currChannelBio{
    display: flex;
    font-family: 'Poppins';
    font-size: 1vw;
    color: #ffffff; 
    margin-bottom: 50px; 
    margin-left: 30px;
    margin-right: 8px;
    margin-top: 0px;
}

#videoCast{
    margin-left: 30px;
    font-family: 'Poppins';
    font-size: 1vw;
    margin-right: 8px;
}


#channelBar {
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-left: 7.5vw;
}

#channelBar .displays{
    font-size: 1vw;
    margin-left: 15.6vw;
}


#channelBar .displays:nth-child(1) {
    color:#8aefe7;
    margin-left: 10vw;
}
#channelBar .displays:nth-child(2) {
    color:white;
    /* margin-right: 0vw; */
}
#channelBar .displays:nth-child(3) {
    color:white;
    /* margin-right: 0.5vw; */
}
#channelBar .displays:nth-child(4) {color:white}


#channelsGrid {
    display: flex;
    flex-direction: column;
    gap: 1px; 
    width: 100%; 
    min-height: 100px; 
    padding: 10px;
}

.channel-content {
    display: flex;
    align-items: center; 
    width: 100%;
    height: 100%;
}


.channel-block, .channel-block-expanded {
    transform-origin: top;
}


.channel-block {
    position: relative;
    display: flex;
    padding: 10px 10px;
    border-radius: 5px;
    margin-bottom: 1px; 
    transition: height 0.3s ease;
    overflow: hidden;
    height: 17vh;
}


.channel-block-expanded{
    height: 40vh;
}


.channel-name {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    /* border: 2px solid transparent; */
    background-color: #000000;
    height: 100%;
    border-radius: 5px;
    /* padding: 5px 15px; */
    width: 250px;
}

.channel-name:hover {
    border: 2px solid #8aefe7;
    cursor: pointer; 
}


.channel-style-0 {
    font-family: 'Kavoon', sans-serif;
    font-size: 25px;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
}


.channel-style-1 {
    font-family: 'Fredoka One';
    font-size: 25px;
    display: flex;
    gap: 5px;
    justify-content: center; 
    text-align: center;
    align-items: center;
}


.channel-style-2 {
    font-family: 'Fredoka One';
    font-size: 25px;
    display: flex;
    gap: 5px;
    justify-content: center; 
    text-align: center;
    align-items: center;
    /* margin-top: 0.25px; */
}

.channel-style-3 {
    font-family: 'Fredoka One';
    font-size: 2vw;
    display: flex;
    gap: 10px;
    justify-content: center; 
    text-align: center;
    align-items: center;
}

.channel-style-4 {
    font-family: 'Fredoka One';
    font-size: 2vw;
    display: flex;
    gap: 10px;
    justify-content: center; 
    align-items: center; 
}


.channel-style-5 {
    font-family: 'Fredoka One';
    font-size: 1.8vw;
    display: flex;
    gap: 5px;
    justify-content: center; 
    align-items: center; 
}

.channel-style-6 {
    font-family: 'Fredoka One';
    font-size: 28px;
    gap: 5px;
    display: flex;
    flex-direction: row;
    justify-content: center; 
    align-items: center; 
}


.channel-style-7 {
    font-family: 'Fredoka One';
    font-size: 1.8vw;
    display: flex;
    gap: 10px;
    justify-content: center; 
    align-items: center; 
}

.channel-style-8 {
    font-family: 'Fredoka One';
    font-size: 2vw;
    display: flex;
    gap: 3px;
    justify-content: center; 
    align-items: center; 
}



.channel-style-9 {
    font-family: 'Lilita One';
    font-size: 30px;
    display: flex;
    gap: 5px;
    justify-content: center; 
    align-items: center; 
}


.channel-style-10 {
    font-family: 'Fredoka One';
    font-size: 28px;
    display: flex;
    gap: 5px;
    justify-content: center; 
    align-items: center; 
}


.channel-style-11 {
    font-family: 'Fredoka One';
    font-size: 28px;
    display: flex;
    gap: 5px;
    justify-content: center; 
    align-items: center; 
}


.channel-style-12 {
    font-family: 'Fredoka One';
    font-size: 28px;
    display: flex;
    gap: 5px;
    justify-content: center; 
    align-items: center; 
}


.channel-style-13 {
    font-family: 'Fredoka One';
    font-size: 28px;
    display: flex;
    gap: 5px;
    justify-content: center; 
    align-items: center; 
}


.channel-style-14 {
    font-family: 'Fredoka One';
    font-size: 28px;
    display: flex;
    gap: 5px;
    justify-content: center; 
    align-items: center; 
}


.channel-style-15 {
    font-family: 'Fredoka One';
    font-size: 28px;
    display: flex;
    gap: 5px;
    justify-content: center; 
    align-items: center; 
}

.channel-style-16 {
    font-family: 'Fredoka One';
    font-size: 28px;
    display: flex;
    gap: 5px;
    justify-content: center; 
    align-items: center; 
}

.channel-style-17 {
    font-family: 'Fredoka One';
    font-size: 28px;
    display: flex;
    gap: 5px;
    justify-content: center; 
    align-items: center; 
}

.channel-style-18 {
    font-family: 'Fredoka One';
    font-size: 28px;
    display: flex;
    gap: 5px;
    justify-content: center; 
    align-items: center; 
}

.channel-style-19 {
    font-family: 'Fredoka One';
    font-size: 28px;
    display: flex;
    gap: 5px;
    justify-content: center; 
    align-items: center; 
}

.channel-style-20 {
    font-family: 'Fredoka One';
    font-size: 28px;
    display: flex;
    gap: 5px;
    justify-content: center; 
    align-items: center; 
}

.channel-style-21 {
    font-family: 'Fredoka One';
    font-size: 28px;
    display: flex;
    gap: 5px;
    justify-content: center; 
    align-items: center; 
}

.channel-style-22 {
    font-family: 'Fredoka One';
    font-size: 28px;
    display: flex;
    gap: 5px;
    justify-content: center; 
    align-items: center; 
}

.channel-style-23 {
    font-family: 'Fredoka One';
    font-size: 28px;
    display: flex;
    gap: 5px;
    justify-content: center; 
    align-items: center; 
}

.channel-style-24 {
    font-family: 'Fredoka One';
    font-size: 1.8vw;
    display: flex;
    gap: 5px;
    justify-content: center; 
    align-items: center; 
}


.channel-name-expanded {
    height: 40vh;
    border: 2px solid transparent;
    border-radius: 5px;
}


.channel-schedule {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 3px;
    left: 230px;
    top: 0;
    /* padding: 5px; */
    height: 100%;
    width: 100%;
    border-radius: 5px;
}

.channel-schedule-expanded {
    display: flex;
    flex-direction: row;
    height: 40vh;
    border-radius: 5px;
}

.schedule-item {
    flex: 1;
    gap: 10px;
    background-color: #373243; 
    /* border: 2px solid transparent; */
    /* padding: 5px; */
    border-radius: 5px;
    top: 0;
    width: 358.75px;
    height: 100%;
}

.schedule-item:hover {
    border: 2px solid #8aefe7;
    cursor: pointer; 
}

.schedule-item-expanded {
    border: 2px solid transparent;
    height: 40vh;
}

.schedule-title {
    margin-top: 10px;
    margin-left: 10px;
    font-weight: bold;
    font-size: 1vw;
}

.schedule-maturity-rating{
    font-size: 0.8vw;
    margin-top: 5px;
    margin-left: 10px;
}


.schedule-remaining-time {
    font-size: 12px;
    margin-top: 10px;
    margin-left: 10px;
    color: #aaaaaa;
}


.schedule-time {
    font-size: 12px;
    margin-top: 10px;
    margin-left: 10px;
    color: #aaaaaa;
}


.schedule-video-description{
    font-family: 'Poppins';font-size: 22px;
    font-size: 0.8vw;
    margin-top: 15px;
    margin-left: 10px;
    line-height: 1.5;
}


#footer {
    display: flex; 
    flex: 1;
    flex-direction: row; 
    align-items: center; 
    justify-content: space-between;
    background-color: #222; 
    color: white;
    width: 100%;
    padding: 0.5vw;
    left: 0;
    right: 0;
    margin-top: 2vw;
}

.footer-group{
    display: flex;
    justify-content: center;
    align-items:center;
}

.footer-group.left {
    flex: 0 0 25%;
    justify-content: flex-start; 
    align-items: center;
}

#footer .social-links a {
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-size: 1.2vw;
}

#footer .social-links a:hover {
    color: #8aefe7; 
}

.footer-group.center {
    flex: 0 0 25%;
    display: flex;
    justify-content: center;
    align-items: center; 
}

#footer .application-form button {
    background-color: #373243; 
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1vw;
    width: 200px;
}

#footer .application-form button:hover {
    background-color: black; 
}

.footer-group.right {
    flex: 0 0 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
}

#footer .terms-conditions a {
    color: #8aefe7; 
    text-decoration: none;
}

#footer .terms-conditions a:hover {
    text-decoration: underline;
}

#footer .privacy-policy a {
    color: #8aefe7; 
    text-decoration: none;
}

#footer .privacy-policy a:hover {
    text-decoration: underline;
}

#footer .content-preferences a {
    color: #8aefe7; 
    text-decoration: none;
}

#footer .content-preferences a:hover {
    text-decoration: underline;
}


