<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Complete Your Payment</title>
    <link rel="stylesheet" href="payment.css">
    <script src="https://js.stripe.com/v3/"></script> <!-- Stripe.js -->
</head>
<body>

    <h1>Complete Your Payment</h1>
    <p>Thank you for registering. Please complete your payment to finalize your subscription.</p>

    <!-- Payment Button -->
    <button id="checkout-button">Pay Now</button>

    <script>
        const userEmail = '<%= userEmail %>';
    </script>

    <script src="payment.js"></script>
    
</body>


</html>
